# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# sandbox, profiling and debugging
sandbox/*
profile*.svg
*.prof
*/tmp/

# binaries
2018/day??/day??
